*{
    margin: 0px;
    padding: 0px;
}
.container{
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 /* setting hrel all page */
a {
     text-decoration: none;
     color: #000;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
.hide{
    display: none;
}
.show{
    display: block;
}
 /* setting logo */
.logo{
    text-align: center;
    padding: 10px 0px;
 }
 /* setting nav bar */
.navbar{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
/* nav bar left */
.navbar-left{
    display: flex;
    align-items: center;
}
.icon-home{
    cursor: pointer;
}
.icon-home div {
    width: 20px;
    height: 3px;
    background-color: #000;
    margin: 4px 0px;
}
.search{ 
    display: flex;
    text-align: right;
    margin-left: 20px;
}
.input-search{
    border: none;
    border-bottom: 1px solid  rgb(0, 0, 0)  ;
    outline: none;
    height: 20px;
 }
.btn-search{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
 }
 /* nav bar mid, link */
.menu ul li a {
    text-decoration: none;
    color: #000;
    padding-right: 30px;
}
.menu ul li {
    display: inline-block;
}
/* setting nav bar right */
.navbar-right{
    display: flex;
}
.user ul li{
    display: inline-block;
 }
.user ul li a{
    text-decoration: none;
    color: #000;
}
#btn-cart{
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 20px;
    padding-top: 5px;
    cursor: pointer;
}
/* main content */
main{
    display: block;
    width: 1080px;
    margin: auto;
}

/* banner */
.banner{ 
    padding: 20px 0px;
}
/* setting link detail product */
.title{ 
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.shop-now{ 
    position: relative;
    width: 350px;
    height: 170px
}
.show-now-link{ 
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.show-now-link a:hover {
    border-bottom: 1px solid #000;
}
/* title best teller */
.title-name{
    padding: 50px 0px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/* setting layout for product */
#product {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px ;
    padding-bottom: 20px
}
/* display products */
.item {
    width: 250px;
    height: 460px;
}
.item:hover{
    box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}
.price {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
}
.name-product{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px 15px;
}
.price-sale {
    padding-right: 20px;
}
.price-origin{
    color: rgb(117, 114, 114);
}
.btn-addCart>button{
    background-color: transparent;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid #000;
    cursor: pointer;
    height: 30px;
    width: 100px;
    outline: none;
}
.btn-addCart>button:hover{
    background-color: #000;
    color: #fff;
}
.btn-addCart{
    margin: 0px 15px 0px 15px;
}
/* setting table */
h2{
    text-align: center;
    padding: 50px 0px;
}
table{
    border-bottom: 1px solid #000;
    margin: auto;
    width: 1080px;
    border-collapse: collapse;
}
td, tr, th{
    border-bottom: rgb(206, 204, 204) 1px solid;
    text-align: center;
    padding: 20px 0px;
}
td:nth-child(3) {
    text-align: left;
    padding-left: 20px;
}
#btnRemoveProduct{
    background-color: transparent;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid rgb(175, 173, 173);
    cursor: pointer;
    width: 60px;
    line-height: 30px;
    outline: none;
}
#btnRemoveProduct:hover{
    background-color: rgb(77, 76, 76);
    color: #fff;
}
.btn-return-clear-checkout{
    display: flex;
    width: 1080px;
    margin: auto;
    text-align: right;
    padding: 50px 0px;
    justify-content: space-between;
}
#returnToShop{
    background-color: transparent;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid rgb(150, 150, 150);
    cursor: pointer;
    width: 120px;
    line-height: 40px;
    outline: none;
}
#returnToShop:hover{
    background-color: rgb(32, 31, 31);
    color: #fff;
}
#btnClearCart{
    background-color: transparent;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid rgb(150, 150, 150);
    cursor: pointer;
    width: 100px;
    line-height: 40px;
    outline: none;
    margin-right: 10px;
}
#btnClearCart:hover{
    background-color: rgb(29, 28, 28);
    color: #fff;
}
#btnCheckOut{
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid #000;
    cursor: pointer;
    width: 100px;
    line-height: 40px;
    outline: none;
    background-color: #000;
    color: #fff;
}
#btnCheckOut:hover{
    background-color: rgb(77, 76, 76);
}
/* setting footer */
footer{
    margin-top: 20px;
    border-top: rgb(180, 179, 179) 1px solid;
}
.footer-content{
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    font-size: 16px;
    width: 1080px;
    margin: auto;
    padding: 20px 0px;
}
.link ul li {
    display: inline-block;
    padding-left: 20px;
}